.env
backend/src/main/resources/application.yml
.idea/
.vscode/
*.iml
backend/target/
android/.gradle/
android/local.properties
android/app/build/
/backend/data/
audio.mp4
test-audio.*
*.log
.DS_Store
